* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.1;
}
.bosh {
  width: 1366px;
  height: 756px;
  border: 1px solid black;
  margin: auto;
  background-image: url(../Shiftwave/image\ copy.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.nav {
  width: 1366px;
  height: 64px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.b {
  width: 180px;
  height: 40px;
  /* border: 1px solid black; */
  align-items: center;
}
.shift img {
  width: 50px;
  height: 30px;
}
.b p {
  margin-top: -35px;
  margin-left: 50px;
}
.shift {
  margin-top: 15px;
  margin-left: 25px;
}
.shift1 {
  width: 223px;
  height: 40px;
  margin-top: 10px;
}
.btn1 {
  width: 70px;
  height: 40px;
  border: none;
  background-color: transparent;
}
.btn2 {
  width: 137px;
  height: 40px;
  border: none;
  background-color: rgb(18, 18, 245);
  color: aliceblue;
  border-radius: 8px;
}
.div {
  width: 467px;
  height: 36px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: -50px;
}
.div a {
  color: black;
  text-decoration: none;
}
.d1 {
  /* border: 1px solid black; */
  width: 90px;
  display: flex;
  justify-content: space-between;
}
.fa-solid {
  margin-left: 10px;
}
/* ============================== */
.ret {
  width: 607px;
  height: 36px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  border-radius: 8px;
  background-color: white;
  margin-left: 25px;
}
.p {
  /* border: 1px solid black; */
  margin-top: 5px;
}
.ret a {
  margin-top: 9px;
  margin-right: 20px;
  text-decoration: none;
}
.h1 {
  color: white;
  font-size: 70px;
  margin-left: 25px;
  margin-top: 15px;
  font-weight: 900;
}
.p1 {
  color: white;
  font-size: 25px;
  font-weight: 900;
  margin-left: 25px;
  margin-top: 10px;
}
/* ========================== */
.ret1 {
  width: 1280px;
  height: 260px;
  /* border: 1px solid black; */
  margin-left: 20px;
  margin-top: 35px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}
.ret2 {
  width: 384px;
  height: 196px;
  /* border: 1px solid black; */
  margin-top: 30px;
  

}
.h2 {
  width: 314px;
  height: 32px;
  /* border: 1px solid black; */
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  
}
.h2 i {
  font-size: 24px;

}
.p2 {
  font-size: 20px;
  font-weight: 400;
  margin-left: 20px;
  margin-top: 10px;

}
.kor {
   width: 124px;
  height: 20px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;

}
.kor a {
  text-decoration: none;
}
.kor i {
  color: blueviolet;
}

@media (max-width: 768px) {
  .nav {
    width: 768px;
    height: 64px;
  }
  .div {
    width: 338px;
    margin-right: 820px;
  }
  .ret {
    width: 607px;
    height: 36px;
  }
  .h1 {
    width: 704px;
    height: 144px;
    /* border: 1px solid black; */
  }
  .bosh {
    height: 1202px;
  }
  .p1 {
    width: 704px;
    height: 90px;
  
  }
  .ret1 {
    width: 704px;
    height: 616px;
  }
  .btn2 {
    border: 1px solid red;
    
  }
  .div {
    
  }
} 
