* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.1;
}
.bosh {
    width: 1366px;
    height: 756px;
    border: 1px solid black;
    margin: auto;
}
.nav {
    width: 1366px;
    height: 64px;
    border: 1px solid black;
}
.b {
    width: 180px;
    height: 40px;
    /* border: 1px solid black; */
    align-items: center;
}
.shift img {
    width: 50px;
    height: 30px;
}
.b p {
    margin-top: -35px;
    margin-left: 50px;
}
.shift {
    margin-top: 15px;
    margin-left: 25px;
}
.shift1 {
    width: ;
}